/* .nav-logo-link {
    transition: transform 0.5s ease-in-out;
}

.nav-logo-link:hover {
    transform: rotate(180deg);
} */

.nav-logo-link {
    transition: transform 0.2s ease-in-out;
}

@media (min-width: 768px) {
    .nav-logo-link:hover {
        transform: translateY(-4px);
    }
}
