---
import type { GetStaticPaths } from "astro"

import projects from "@/components/projects.json"
import Layout from "@/layouts/Layout.astro"

export const getStaticPaths = (() => {
    return projects.map((project) => {
        return {
            params: {
                name: project.title
                    .normalize("NFKD")
                    .toLowerCase()
                    .trim()
                    .replace(/\s+/g, "-")
                    .replace(/[^\w\-]+/g, "")
                    .replace(/\_/g, "-")
                    .replace(/\-\-+/g, "-")
                    .replace(/\-$/g, ""),
            },
        }
    })
}) satisfies GetStaticPaths
---

<Layout>
    <p class="pt-7">There's gonna be stuff here, trust me bro.</p>
</Layout>
