---
import ProfileImage from "@/components/ProfileImage.astro"
import Projects from "@/components/Projects.astro"
import Thoughts from "@/components/Thoughts.astro"
import Layout from "@/layouts/Layout.astro"

import GithubIcon from "@/assets/icons/github.svg?raw"
import LinkedinIcon from "@/assets/icons/linkedin.svg?raw"
import MailIcon from "@/assets/icons/mail.svg?raw"
import XIcon from "@/assets/icons/x.svg?raw"

interface ProfileLink {
    title: string
    href: string
    Icon: string
}

const profileLinks: ProfileLink[] = [
    {
        title: "CodeWShreyans",
        href: "https://twitter.com/CodeWShreyans",
        Icon: XIcon,
    },
    {
        title: "CodeWithShreyans",
        href: "https://github.com/CodeWithShreyans",
        Icon: GithubIcon,
    },
    {
        title: "Shreyans Jain",
        href: "https://www.linkedin.com/in/sjain07",
        Icon: LinkedinIcon,
    },
    {
        title: "shreyans@shreyans.sh",
        href: "mailto:shreyans@shreyans.sh",
        Icon: MailIcon,
    },
]
---

<Layout>
	<main class="flex flex-col gap-8 *:not-last:border-b-2 *:not-last:pb-8 pb-8">
		<div class="flex flex-col gap-5">
    		<h1 class="text-xl">
            Hey! I'm <span class="font-semibold underline underline-offset-2">Shreyans</span>. I build stuff and explore life. I think a lot and do at least 31.415926536% of it.
            </h1>
            <div class="grid grid-cols-2 grid-rows-2 max-sm:grid-rows-4 max-sm:grid-cols-1 gap-5 max-sm:gap-6">
                { profileLinks.map(({ title, href, Icon }) => (
                <a class="flex gap-2 [&_svg]:h-6 [&_svg]:fill-white items-center group h-7" href={href} target="_blank">
                    <Fragment set:html={Icon}/>
                    <span class="content-center group-hover:underline underline-offset-4 leading-relaxed text-lg max-sm:text-base pb-1">{title.replaceAll(" ", " ")}{" "}<span class="text-4xl font-thin max-sm:text-2xl">↗</span></span>
                </a>
                ))
                }
            </div>
        </div>
        <p class="text-lg">
            Here you'll see what I’ve been thinking, doing, and even what I’ll do next!
        </p>
        <Projects/>
		<Thoughts/>
	</main>
</Layout>
