---
import ProfileImage from "@/components/ProfileImage.astro"
import Projects from "@/components/Projects.astro"
import Thoughts from "@/components/Thoughts.astro"
import Layout from "@/layouts/Layout.astro"

import GithubIcon from "@/assets/icons/github.svg?raw"
import LinkedinIcon from "@/assets/icons/linkedin.svg?raw"
import MailIcon from "@/assets/icons/mail.svg?raw"
import XIcon from "@/assets/icons/x.svg?raw"

interface ProfileLink {
    title: string
    href: string
    Icon: string
}

const profileLinks: ProfileLink[] = [
    {
        title: "CodeWShreyans",
        href: "https://twitter.com/Destroyer_Xyz",
        Icon: XIcon,
    },
    {
        title: "CodeWithShreyans",
        href: "https://github.com/CodeWithShreyans",
        Icon: GithubIcon,
    },
    {
        title: "Shreyans Jain",
        href: "https://www.linkedin.com/in/sjain07",
        Icon: LinkedinIcon,
    },
    {
        title: "shreyans@shreyans.sh",
        href: "mailto:shreyans@shreyans.sh",
        Icon: MailIcon,
    },
]
---

<Layout>
	<main class="flex flex-col gap-6 *:not-last:border-b-2 *:not-last:pb-6 py-5">
	    <!-- <h1 class="font-bold sm:text-lg max-sm:text-base">Developer | Entrepreneur | Rationalist</h1> -->
		<div class="flex flex-col gap-3">
    		<p>
            Hey! I'm <span class="font-semibold underline underline-offset-2">Shreyans Jain</span>. I build stuff and explore life. I think a lot and do at least 31.415926536% of it.
            </p>
            <div class="grid grid-cols-2 grid-rows-2 gap-3">
                { profileLinks.map(({ title, href, Icon }) => (
                <a class="flex gap-2 [&_svg]:h-6 [&_svg]:fill-white items-center group h-7" href={href} target="_blank">
                    <Fragment set:html={Icon}/>
                    <span class="content-center group-hover:underline underline-offset-4 leading-relaxed max-sm:text-xs">{title.replaceAll(" ", " ")}{" "}{!href.includes("mailto") ? <span class="text-2xl font-thin max-sm:text-lg">↗</span> : null}</span>
                </a>
                ))
                }
            </div>
        </div>
        <p>
            Here you'll see what I’ve been thinking, doing, and maybe even what I’ll do next!
        </p>
        <Projects/>
		<Thoughts/>
	</main>
</Layout>
