---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main class="flex flex-col gap-2 *:not-last:border-b-2 *:pb-2 border-x-2">
	    <h1>Hey I'm Shreyans!</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellendus sapiente asperiores deleniti eligendi voluptates corrupti ipsam omnis velit quos? Repellat, suscipit. Odio laboriosam tenetur sunt, voluptas repellendus quisquam eos.</p>
	</main>
</Layout>
