---
import Thoughts from "../components/Thoughts.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<main class="flex flex-col gap-6 *:not-last:border-b-2 *:pb-6 border-x-2 pt-6">
	    <h1 class="font-medium text-lg">Developer • Entrepreneur • Rationalist</h1>
		<p>
           I'm <span class="font-semibold underline underline-offset-2">Shreyans Jain</span>, I build stuff and explore life. I think a lot and do at least 31.415926536% of it.
        </p>
        <p>
            This website will show you what I've thought, what I've done and maybe even what I will do.
        </p>
		<Thoughts server:defer/>
		</main>
</Layout>
