---
---

<header class="flex items-center justify-between full-bleed py-5 px-4">
    <a href="/" class="text-xl font-semibold">Shreyans Jain</a>
    <div class="text-muted-foreground">{"0x7Δ7"}</div>
</header>
