---
import projectsJson from "./projects.json"

interface Props {
    allProjects?: boolean
}

const { allProjects = false } = Astro.props

interface Project {
    index: number
    title: string
    description: string
    tag?: "pre-release" | "archived" | "borked"
}
const projects = projectsJson.map((project, index) => {
    return { index: index + 1, ...project }
}) as Project[]
---

<div class="flex flex-col gap-5">
    <h2 class="text-lg">My Work</h2>
    <div class="flex flex-col-reverse gap-3">
    {(allProjects ? projects : projects.slice(-3)).map(({index, title, description, tag}) => {
    	return (
     <div class="flex justify-between target:py-10 target:font-bold target:text-lg" id={index.toString()}>
        <div class="flex flex-col gap-1">
            <div class="flex gap-1">
                <span class="tabular-nums">{index}.</span>
                <span>{title}</span>
            </div>
            <p class="text-sm text-muted-foreground">{description}</p>
        </div>
        { tag ?
        <div class="text-sm min-w-fit self-start bg-accent text-accent-foreground p-1.5 rounded-[0.5rem] overflow-hidden">
            {tag === "pre-release" ? "Pre-release" : tag === "archived" ? "Archived" : tag === "borked" ? "Borked" : null}
        </div>
        : null
        }
     </div>
     )
    })}
    </div>
    {!allProjects ? <a href="/projects" class="text-sm hover:underline underline-offset-4 transition-all size-fit">{"Read more ->"}</a> : null}
</div>
