---
import "./globals.css"
import "@fontsource-variable/geist-mono/index.css"

import GeistMono from "@fontsource-variable/geist-mono/files/geist-mono-latin-wght-normal.woff2"

import { ClientRouter } from "astro:transitions"
---

<script is:inline defer src="https://umami.shreyans.sh/script.js" data-website-id="dc0e2c24-6cb6-47d2-90ec-3143d825ecd7"/>

<!doctype html>
<html lang="en" class="font-mono m-[0] w-full h-full bg-background tracking-wide" transition:animate="initial">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="darkreader-lock"/>
		<link rel="icon" href="/favicon-dark.ico" media="(prefers-color-scheme: dark)" sizes="48x48" />
		<link rel="icon" href="/favicon-light.ico" media="(prefers-color-scheme: light)" sizes="48x48" />
		<link rel="icon" type="image/svg+xml" href="/favicon-dark.svg" media="(prefers-color-scheme: dark)" sizes="any" />
		<link rel="icon" type="image/svg+xml" href="/favicon-light.svg" media="(prefers-color-scheme: light)" sizes="any" />
		<link rel="preload" href={GeistMono} as="font" type="font/woff2" crossorigin="anonymous" />
		<title>Shreyans Jain</title>

		<ClientRouter/>
	</head>
	<body class="m-[0] w-full h-full text-pretty grid grid-cols-[1fr_min(68ch,100%)_1fr] *:col-[2] *:px-[2ch] max-sm:!text-sm">
	   {Astro.url.pathname !== "/" ? <a class="!col-[1] pt-2 hover:underline underline-offset-4 size-fit cursor-pointer max-sm:!col-[2]" href="/">{"<- Home"}</a> : null}
		<slot />
		<script is:inline defer src="https://cursor-party.codewithshreyans.partykit.dev/cursors.js"/>
	</body>
</html>
