---
import "./globals.css"
import "@fontsource/geist-sans"
import "@fontsource-variable/geist-mono"
import Header from "@/components/Header.astro"
---

<!doctype html>
<html lang="en" class="font-sans m-[0] w-full h-full bg-background p-4">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Shreyans Jain</title>
	</head>
	<Header/>
	<body class="m-[0] w-full h-full">
		<slot />
	</body>
</html>
