---
import "./globals.css"

import { ClientRouter } from "astro:transitions"

import "@fontsource-variable/geist-mono"
---

<!doctype html>
<html lang="en" class="font-mono m-[0] w-full h-full bg-background tracking-wide">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="darkreader-lock"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Shreyans Jain</title>

		<ClientRouter/>
	</head>
	<body class="m-[0] w-full h-full text-pretty grid grid-cols-[1fr_min(67ch,100%)_1fr] *:col-[2] *:px-[1ch]">
	   {Astro.url.pathname !== "/" ? <a class="!col-[1] pt-2 hover:underline underline-offset-4 size-fit cursor-pointer" href="/">{"<- Home"}</a> : null}
		<slot />
	</body>
</html>
